<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path%></li>
  <li><%= link_to @task.project.title, @task.project%></li>
  <li><%= link_to "Tasks", tasks_path, :data => {:tasks => @task.project.tasks}%></li>
</ol>
<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Project:</strong>
  <%= link_to @task.project.title, @task.project %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
