<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <h2>Tasks</h2>
  <%= f.fields_for :tasks do |task| %>
    <div class="task_fields">
        <div class="field">
            <%= task.label :title %>
            <%= task.text_field :title %>
        </div>
        <div class="field">
            <%= task.label :content %>
            <%= task.text_field :content %>
        </div>
        <div class="field">
            <%= task.label :status %>
            <%= task.text_field :status %>
        </div>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
