<ol class="breadcrumb">
  <li><a href="/">Projects</a></li>
</ol>
    <table class="table table-bordered table-striped" id="sortable">
      <thead>
        <tr>
          <th>Title</th>
          <th>Create Time</th>
          <th>Plan Finish Time</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
           <tr data-item-id= <%= "#{project.id}" %> class="item">
            <td>
                <% if project.finished? %>
                	<%= link_to complete_project_path(project.id), method: :patch do %>
        				<i style="opacity: 0.4;" class="fa fa-check-square-o"></i>
        			<% end %>
                    <strike><%= link_to project.title, project,style:"opacity: 0.4;" %></strike>
                <% else %>
                    <%= link_to complete_project_path(project.id), method: :patch do %>
                        <i class="fa fa-square-o"></i>
                    <% end %>
                    <%= link_to project.title, project %>
                <% end %>
            </td>
            <td><%= project.created_at%></td>
            <td><%= project.plan_finish_at%></td>
            <td><%= link_to 'Edit', edit_project_path(project) %>
            <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


<br>
