<ol class="breadcrumb">
  <li><a href="/">Projects</a></li>
  <li><%= link_to @project.title, project_path%></li>
</ol>
<h2>
  <strong>Title:</strong>
  <%= @project.title %>
</h2>
<h3>Tasks</h3>
<% if @project.tasks.any?%>
    <ul class="list-group">
        <% @project.tasks.each do |task|%>
        <% if task.status==1%>
        <li class="list-group-item list-group-item-info"><input type="checkbox" <% if task.finished? %>checked<% end %>>  <%= link_to task.title, task %></li>
        <% elsif task.status==2%>
        <li class="list-group-item list-group-item-warning"><input type="checkbox" <% if task.finished? %>checked<% end %>>  <%= link_to task.title, task %></li>
        <% else %>
        <li class="list-group-item list-group-item-success"><input type="checkbox" <% if task.finished? %>checked<% end %>>  <%= link_to task.title, task %></li>
        <% end %>
        <% end %>
    </ul>
<% else %>
    <p>
        none tasks added
    </p>
<% end %>
<%= link_to 'Edit', edit_project_path(@project) , class:"btn btn-sm" %> |
<%= link_to 'Back', projects_path , class:"btn btn-sm" %>
